/AGENTS.md
/docs/CODING_STYLE.md
/create_project.sh

**/build/
**/install/
**/log/
**/Log/
**/devel/
**/.catkin_tools/
.cache/
.idea/
.vscode/
compile_commands.json
__pycache__/
*.pyc
*.pcd
*.bag
*.db3
*.mcap
